.card-deck .card {
	min-width: 30%;
}

.card-person {
	min-width: 80% !important;
}

.text-darkRed {
	color: DarkRed;
}

.paper-theme {
	background-color: FloralWhite;
	box-shadow: 2px 2px 3px #666666;
}

.prefer-indent {
	text-indent: 3rem;
}

.prefer-inline {
	display: inline;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
